# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\HTML-CSS\Maison d'hotes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
